<div class="staff delete">
    <h2>Delete Staff</h2>

    <%= link_to("Back to Staff", staffs_path, class: 'back-link') %>

    <%= form_for(@staff, method: 'delete') do |f| %>
        <% # url: staff_path(@staff), method: 'delete' %>

        <p>Are you sure you want to permanently delete this staff member?</p>
        <%= render @staff %>

        <div class="form-buttons">
            <%= f.submit("Delete Staff") %>
        </div>

    <% end %>
</div>
