<p style="color: green"><%= notice %></p>

<h1>Staffs</h1>

<div id="staffs">
  <% @staffs.each do |staff| %>
    <%= render staff %>
    <p>
      <%= link_to "Show this staff", staff %>
    </p>
  <% end %>
</div>

<%= link_to "New staff", new_staff_path %>
