<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
<div class="container-fluid">
    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="/" style="color: #dfad14;">Parsons Mounted Cavalry Attendance</a>
    <%= link_to("<button type='button' class='btn btn-outline-danger'>Logout</button>".html_safe, '/') %>
</div>
</nav>