<div id="<%= dom_id horse %>">
  <p>
    <strong>Name:</strong>
    <%= horse.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= horse.brand %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= horse.birthday %>
  </p>

</div>
