<body class="align-items-center justify-content-center">
  <%# Navbar %>
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarStaffsComponent.new())%>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center" style="padding-bottom: 5%">
    <h1>Horses</h1>
    <%= link_to("<button type='button' class='btn btn-secondary create'>+ Add Horse</button>".html_safe, new_horse_path, class: 'action new') %>
    <br><br>
    <%= render(HorsesTableComponent.new(@horses, @oos)) %>
  </div>
</body>
