<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>

  <div class="justify-content-center align-items-center mx-auto text-center">
    <h1>New user</h1>

    <%= render "form", user: @user %>

    <br>

    <div>
      <%= link_to "Back to users", admins_users_path %>
    </div>
  </div>
</body>
