<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <%= render(NavbarComponent.new())%>
  <%# Sidebar %>
  <%= render(SidebarStaffsComponent.new())%>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <h1>Users</h1>
    <%= link_to("<button type='button' class='btn btn-secondary create'>+ Add User</button>".html_safe, new_user_path, class: 'action new') %>
    <br><br>
    <%= render(UserTableComponent.new(@cadets, @staffs))%>
  </div>
</body>

<style>
  .create {
    background-color: #D9D9D9 !important;
    border: 2px solid black !important;
    color: black !important;
    font-weight: 500 !important;
  }
</style>
