<div id="<%= dom_id schedule %>">
  <p>
    <strong>Assignee:</strong>
    <%= schedule.assignee_id_id %>
  </p>

  <p>
    <strong>Assigner:</strong>
    <%= schedule.assigner_id_id %>
  </p>

  <p>
    <strong>Recurrence:</strong>
    <%= schedule.recurrence %>
  </p>

</div>
