<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarCadetsComponent.new())%>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <h1>Schedule</h1>
    <br><br>
  </div>
</body>
