<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <p style="color: green"><%= notice %></p>
    <h1>Admin Cadets View</h1>
  </div>
</body>