<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <%= render(NavbarComponent.new()) %>

  <%# Sidebar %>
  <%= render(SidebarCadetsComponent.new()) %>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <h1>Check-in</h1>
    <br><br>
    <div id="checkin-container">
      <% if @attendance.nil? %>
        <%= render(NothingScheduledComponent.new()) %>
      <% else %>
        <%= render(CheckInComponent.new(@attendance)) %>
      <% end %>
    </div>
    <br>
  </div>

</body>
