<div class="attendances delete">
    <h2>Delete Attendance</h2>

    <%= form_for(@attendance, method: 'delete') do |f| %>
    <% # url: attendance_path(@attendance), method: 'delete' %>

    <p>Are you sure you want to permanently delete this attendance?</p>
        
    <%= render @attendance %>
    
    <br>    
    <div class="form-buttons">
        <%= f.submit("Delete attendance") %>  
    </div>

    <% end %>

    <br>
    <%= link_to("<button>Back to attendances</button>".html_safe, attendances_path, class: 'back-link') %>
</div>
