<h1>Editing attendance record</h1>

<%= render "form", attendance: @attendance %>

<br>

<div>
  <%= link_to "Show this attendance record", @attendance %> |
  <%= link_to "Back to attendance records", attendances_path %>
</div>
