<h1>New Attendance</h1>
<h2>For: <%= get_user_by_schedule_id(@attendance.schedule_id) %></h2>
<h2>Date: <%= format_date(@attendance.date) %></h2>
<%= render "form", attendance: @attendance %>

<br>

<div>
  <%= link_to "Back to attendances", attendances_path %>
</div>
